<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">'개발자'권혁원이 아닌 '인간'권혁원은 다음과 같은 인생을 살았습니다.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004-2010</h4>
                                    <h4 class="subheading">Jeodong Elementary School</h4>
                                </div>
                                <div class="timeline-heading">
                                    <h4>2010-2013</h4>
                                    <h4 class="subheading">Jeodong Middle School</h4>
                                </div>
                                <div class="timeline-heading">
                                    <h4>2013-2016</h4>
                                    <h4 class="subheading">Gyeonggibuk High School</h4>
                                </div>
<!--                                <div class="timeline-body">-->
<!--                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
<!--                                </div>-->
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2019</h4>
                                    <h4 class="subheading">Serve in the Army</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">육군훈련소<br>제29교육연대 인사과 인사행정병<br>21개월간 연대 인사과에서 군 복무를 하였습니다</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2020</h4>
                                    <h4 class="subheading">Previous Company C.A.S</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">IT감리법인인 (주)씨에이에스에서 근무하였습니다</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021-Present</h4>
                                    <h4 class="subheading">Jeju National Univ<br>(Computer Engineering)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">현재 제주대학교 컴퓨터공학전공 3학년으로 재학중입니다</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>In<br>Progress
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>