<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">CERTIFICATIONS & PROJECTS</h2>
                    <h3 class="section-subheading text-muted">
                        개발자의 꿈을 키운지 한 해밖에 지나지 않아 CS지식을 쌓는데 주력하고 있습니다.<br>
                        때문에 제대로 된 프로젝트를 진행한 경험이 아직까지 전무하여 포트폴리오를 작성한다는 것 자체가 어불성설인 상태지만<br>
                        상황이 이렇다보니 최대한 저를 뽐낼 수 있는 관련 프로젝트 혹은 자격증을 몇 가지 추려보았습니다.
                    </h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
