<head>
    <script src="https://kit.fontawesome.com/cf3ed49287.js" crossorigin="anonymous"></script>
</head>
<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Languages</h2>
                    <h3 class="section-subheading text-muted">아직 완벽하게 다룬다고 생각하는 언어는 없습니다.<br>
                    하지만 머지 않은 미래에 당당히 '제가 전공하는 언어입니다'라고 말할 수 있는 날이 올 것이라 자신합니다</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-brands fa-python fa-lg fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Python</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-brands fa-react fa-lg fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">React</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-brands fa-java fa-lg fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Java</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>